footer
  .container
    .footer__top
    
      .top__item
        .item__title Company
        .item__link
          a(href="#") News
        .item__link
          a(href="#") Chat
        .item__link
          a(href="#") Twitter
          
      .top__item
        .item__title Resources
        .item__link
          a(href="#") FAQ
        .item__link
          a(href="#") Support
        .item__link
          a(href="#") Suggest a Feature
      
      .top__item
        .item__title Developers
        .item__link
          a(href="#") Documentation
        .item__link
          a(href="#") Bug Bounty
        .item__link
          a(href="#") GitHub
      
      .top__item
        .item__title Legal
        .item__link
          a(href="#") Terms
        .item__link
          a(href="#") Privacy
      
      .top__item
        img(src="@img/svg/ton-app.svg", alt="")
    
    .footer__bottom
      .bottom__text
        p.rights © 2024 Tonkeeper. All rights reserved.
        p.trademarks All trademarks are the property of their respective owners.