header
  .container
    nav.header__nav
      ul.nav__list
        li.nav__item
          a.nav__link(href="#") FAQ
        li.nav__item
          a.nav__link(href="#") Support
        li.nav__item
          a.nav__link(href="#") Documentation
        li.nav__item
          a.nav__link(href="#") Bug Bounty
        li.nav__item
          a.nav__link(href="#") GitHub
      
      button.burger(data-path="burgerMenu" data-animation="fadeInUp" data-speed="300")
        .span
        .span
        .span

.modal
  .modal__container(data-target="burgerMenu")
    .modal__content
      ul
        li
          a(href="#") FAQ
        li
          a(href="#") Support
        li
          a(href="#") Documentation
        li
          a(href="#") Bug Bounty
        li
          a(href="#") GitHub