header
  .container
    nav.header__nav
      li.nav__item
        a.nav__link(href="#") FAQ
      li.nav__item
        a.nav__link(href="#") Support
      li.nav__item
        a.nav__link(href="#") Documentation
      li.nav__item
        a.nav__link(href="#") Bug Bounty
      li.nav__item
        a.nav__link(href="#") GitHub