$font-size-root:         1.6rem;

$ah: inherit;
$a: inherit;
$main:#10161F;
$secd:#39CD83;

$hover: #39CD83;

$screenXS:               424px;
$screenS:                576px;
$screenM:                768px;
$screenL:                1024px;
$screenXL:               1280px;
$screenXXL:              1440px;

$primaryFont:            'Inter',  sans-serif;
$secondaryFont:          '', sans-serif;