$font-size-root:         1.6rem;

$ah: inherit;
$a: inherit;
$main:#303030;
$secd:#fff;

$hover: red;

$screenXS:               424px;
$screenS:                576px;
$screenM:                768px;
$screenL:                1024px;
$screenXL:               1280px;
$screenXXL:              1440px;

$primaryFont:            'montserrat',  sans-serif;
$secondaryFont:          '', sans-serif;