footer {
    background-color: #10161F;

    .container {
        margin-top: 66px;
        margin-bottom: 70px;

        @media (max-width: $screenM) {
            margin-top: 30px;
            padding: 0px 24px;
        }

        .footer__top {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;

            @media (max-width: $screenM) {
                flex-direction: column;
                align-items: stretch;
                gap: 32px;
            }

            .footer__top-wrap {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                flex: 1 1;
                gap: 24px;

                @media (max-width: $screenM) {
                    flex-wrap: wrap;
                }

                .top__item {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1;
                    gap: 10px;

                    @media (max-width: $screenM) {
                        min-width: calc(50% - 12px);
                    }
    
                    .item__title {
                        font-weight: 500;
                        font-size: 16px;
                        color: #fff;
                    }
    
                    .item__link {
                        font-weight: 500;
                        font-size: 16px;
                        color: #8994a3;

                        display: flex;
                        flex-direction: column;
                    }
    
                    img {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 200px;
                    }
                }
            }

            .top__item-image {
                img {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 200px;
                }
            }
        }

        .footer__bottom {
            margin-top: 70px;

            .bottom__text {
                display: flex;
                font-weight: 500;
                font-size: 16px;

                @media (max-width: $screenM) {
                    flex-wrap: wrap;
                }

                .rights {
                    color: #fff;
                }

                .trademarks {
                    margin-left: 5px;
                    color: #8994a3;

                    @media (max-width: $screenM) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}