footer {
    background-color: #10161F;

    .container {
        margin-top: 66px;
        margin-bottom: 70px;

        .footer__top {
            display: flex;
            justify-content: space-between;

            @media (max-width: $screenM) {
                flex-wrap: wrap;
            }

            .top__item {
                .item__title {
                    font-weight: 500;
                    font-size: 16px;
                    color: #fff;
                }

                .item__link {
                    font-weight: 500;
                    font-size: 16px;
                    color: #8994a3;

                    &:not(:first-child) {
                        margin-top: 10px;
                    }
                }
            }
        }

        .footer__bottom {
            margin-top: 70px;

            .bottom__text {
                display: flex;
                font-weight: 500;
                font-size: 16px;

                .rights {
                    color: #fff;
                }

                .trademarks {
                    margin-left: 5px;
                    color: #8994a3;
                }
            }
        }
    }
}