header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    .container {
        margin-top: 40px;

        .header__nav {
            @media (max-width: $screenM) {
                display: flex;
                justify-content: right;
            }

            .nav__list {
                display: flex;
                justify-content: center;

                @media (max-width: $screenM) {
                    display: none;
                }

                .nav__item {
                    &:not(:first-child) {
                        margin-left: 38px;
                    }
    
                    .nav__link {
                        font-weight: 500;
                        font-size: 16px;
                        text-align: center;
                        color: rgba(255, 255, 255, 0.75);
                    }
                }
            }
        }

        .burger {
            display: none;
            background: none;
            border: none;
            margin-right: 10px;

            @media (max-width: $screenM) {
                display: block;
            }

            .span {
                width: 20px;
                height: 2px;
                background-color: #fff;

                &:not(:first-child) {
                    margin-top: 7px;
                }
            }
        }
    }
}

.modal {
	--transition-time: 0.3s;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: transparent;
	cursor: pointer;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
    display: none;
	visibility: hidden;
	transition: opacity var(--transition-time), visibility var(--transition-time);

    &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    &.is-open {
        display: block;
        visibility: visible;
        transition: opacity var(--transition-time), visibility var(--transition-time);
    }

    .modal__container {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 16px;
        width: 157px;
        height: 256px;
        margin-top: 30px;
        margin-right: 20px;
        padding: 20px;
        display: none;
        background-color: #1d2633;
        border-radius: 20px;
        cursor: default;
        text-align: left;

        .modal__content {
            ul {
                li {
                    &:not(:first-child) {
                        margin-top: 24px;
                    }
                    a {
                        font-weight: 500;
                        font-size: 16px;
                        color: #fff;
                    }
                }
            }
        }
    
        &.modal-open {
            display: block;
        }
    }
}

.fade {
	opacity: 0;
	transition: opacity var(--transition-time);

    &.animate-open {
        opacity: 1;
        transition: opacity var(--transition-time);
    }
}

.fadeInUp {
	opacity: 0;
	transform: translateY(-100px);
	transition: opacity var(--transition-time), transform var(--transition-time);

    &.animate-open {
        opacity: 1;
        transform: translateY(0);
        transition: opacity var(--transition-time), transform var(--transition-time);
    }
}

.content {
	min-height: 200vh;
}

.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}