header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
    .container {
        margin-top: 40px;

        .header__nav {
            display: flex;
            justify-content: center;

            .nav__item {
                &:not(:first-child) {
                    margin-left: 38px;
                }

                .nav__link {
                    color: #fff;
                    transition: all 0.5s ease;

                    &:hover {
                        opacity: 0.5;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
}