extends layout/_layout
block vars
  - var pageName = 'Tonkeeper Battery'

block content
  .page-content

    section.hero
      .container
        .hero__start-block
          .hero__battery
            img(src="@img/hero/battery.png", alt="Tonkeeper battery logo")
          .hero__titles
            h1 Tonkeeper
            h1.battery battery

        .hero__text
          p Tonkeeper Battery removes an obstacle for newcomers
        
        .hero__buttons
          a(href="#send")
            button Send Tokens
          a(href="#swap")
            button Swap
          a(href="#nft")
            button Send NFTs
          a(href="#unstake")
            button Unstake TON

    hr.main__hr

    section.howitwork
      .container
        h2 How does it work

        .work__wrapper

          .work__item#send
            .work__img
              img(src="@img/howitwork/work-send.png", alt="Send Tokens image")

            .work__text
              p With Tonkeeper Battery you can receive tokens (stablecoins, NFTs etc.) and make payments with a token — without going to an exchange to buy coins to cover blockchain fees. Tonkeeper Battery pays your fees for you, automatically.

              p Update Tonkeeper on iOS and Android to version 4.3, then top up the battery in Settings → Battery. Once charged, the battery status will appear on the main screen.
          
          .work__line

          .work__item.small-right#swap
            .work__text
              p You can get a stablecoin or an NFT and use them right away without acquiring native coins to pay for gas. You won’t need to go to an exchange, pass KYC checks, enter a lot of details only to buy a random amount of coins you did not think you needed.
            
            .work__img
              img(src="@img/svg/work-swap.svg", alt="Send Tokens image")

          .work__line.right

          .work__item.small-left#nft
            .work__img
              img(src="@img/howitwork/work-nft.png", alt="Send Tokens image")

            .work__text
              p You can charge the battery with one tap using in-app purchases, or with TON or stablecoins. Send a few dollars worth of stablecoins or TON to a special address: battery.ton and it will automatically apply charges to your account.

          .work__line          

          .work__item#unstake
            .work__img
              img(src="@img/howitwork/work-unstake.png", alt="Send Tokens image")

            .work__text
              p With Tonkeeper Battery you will never have to worry about gas anymore. Top up your battery with a banking card or a stablecoin, and use all features of your wallet right away.

              p Tonkeeper Battery is denominated in charges, each charge covers the fee of a simple TON transfer transaction. More complex transactions may consume 5, 10 or more charges.

    section.download
      .container
        p Download Tonkeeper and enjoy all the benefits of using a battery today...
        .download__links
          a(href="#")
            img.ios(src="@img/svg/download/ios.svg", alt="iOS logo")
            span Tonkeeper iOS
          
          a(href="#")
            img(src="@img/svg/download/android.svg", alt="Android logo")
            span Tonkeeper Android
            img.arrow(src="@img/svg/download/arrow.svg", alt="Arrow image")
          
          a(href="#")
            img(src="@img/svg/download/pc.svg", alt="PC logo")
            span Tonkeeper Pro
          
          a(href="#")
            img(src="@img/svg/download/telegram.svg", alt="Telegram logo")
            span In Telegram
        
        .download__extensions
          h3 Browsers extensions

          .extensions__links
            a(href="#") 
              img(src="@img/svg/extensions/google.svg", alt="Google logo")

            a(href="#") 
              img(src="@img/svg/extensions/firefox.svg", alt="Google logo")
            
            a(href="#") 
              img(src="@img/svg/extensions/brave.svg", alt="Google logo")
            
            a(href="#") 
              img(src="@img/svg/extensions/yandex.svg", alt="Google logo")
              
            a(href="#") 
              img(src="@img/svg/extensions/edge.svg", alt="Google logo")

    hr.main__hr