extends layout/_layout
block vars
  - var pageName = 'Tonkeeper Battery'

block content
  .page-content

    section.hero
      .container
        .hero__start-block
          .hero__battery
            img(src="@img/hero/battery.png", alt="Tonkeeper battery logo")
          .hero__titles
            h1 Tonkeeper
            h1.battery battery

        .hero__text
          p Tonkeeper Battery removes an obstacle for newcomers
        
        .hero__buttons
          a(href="#")
            button Send Tokens
          a(href="#")
            button Swap
          a(href="#")
            button Send NFTs
          a(href="#")
            button Unstake TON

    hr.main__hr

    section.howitwork
      .container
        h2 How does it work

        .work__wrapper

          .work__item
            .work__img
              img(src="@img/howitwork/work-send.png", alt="Send Tokens image")

            .work__text
              p With Tonkeeper Battery you can receive tokens (stablecoins, NFTs etc.) and make payments with a token — without going to an exchange to buy coins to cover blockchain fees. Tonkeeper Battery pays your fees for you, automatically.

              p Update Tonkeeper on iOS and Android to version 4.3, then top up the battery in Settings → Battery. Once charged, the battery status will appear on the main screen.
          
          .work__item-line

          .work__item
            .work__img
              img(src="@img/howitwork/work-send.png", alt="Send Tokens image")

            .work__text
              p With Tonkeeper Battery you can receive tokens (stablecoins, NFTs etc.) and make payments with a token — without going to an exchange to buy coins to cover blockchain fees. Tonkeeper Battery pays your fees for you, automatically.

              p Update Tonkeeper on iOS and Android to version 4.3, then top up the battery in Settings → Battery. Once charged, the battery status will appear on the main screen.